.contact_container {
  width: 58%;
  display: grid;
  grid-template-columns: 30% 58%;
  gap: 12%;
}

.contact_options {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.contact_option {
  position: relative;
  background: var(--color-bg-variant);
  padding: 1.2rem;
  border-radius: 1.2rem;
  text-align: center;
  border: 1px solid transparent;
  transition: var(--transition);
  cursor: pointer;
}

.contact_option:hover {
  background: transparent;
  border: 2px solid var(--color-primary-variant);
}

.contact_option-icon {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.contact_option p {
  color: var(--color-primary);
  font-size: 1.3rem;
}

/* .contact_option a {
  margin-top: 0.7rem;
  display: inline-block;
  font-size: 1.3rem;
} */

.contact_option .a_link {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* ========== FORM ========== */
form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

textarea,
input {
  width: 100%;
  padding: 1.5rem;
  border-radius: 0.5rem;
  background-color: transparent;
  border: 2px solid white;
  resize: none;
  color: var(--color-white);
  font-size: 1.2rem;
}

textarea::placeholder,
input::placeholder {
  color: white;
}

textarea {
  height: 100%;
}

form .btn {
  display: block;
  margin: 0 auto;
  width: 100%;
  color: var(--color-primary);
  background-color: var(--color-bg-variant);
}

/* ========== MEDIA QUERIES (MEDIUM DEVICES) ========== */

@media screen and (max-width: 1024px) {
  .contact_container {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}

/* ========== MEDIA QUERIES (SMALL DEVICES) ========== */

@media screen and (max-width: 600px) {
  .contact_container {
    width: var(--container-width-sm);
  }
}
