header {
  height: 100vh;
  padding-top: 5rem;
  overflow: hidden;
}

.header_container {
  text-align: center;
  height: 45rem;
  position: relative;
}

@keyframes zoomFade {
  0% {
    transform: scaleX(1);
  }
  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }
  to {
    transform: scaleX(1);
  }
}

.header_name {
  font-size: 12rem;
  text-shadow: 0 0 10px #ffffff, 0 0 15px var(--color-primary);
  animation: zoomFade 2s ease-in-out infinite;
}
/* 
.job_name {
  color: var(--color-primary);
} */

/* ========== CTA ========== */
.cta {
  margin-top: 2.5rem;
  display: flex;
  gap: 1.2rem;
  justify-content: center;
}

/* ========== HEADER SOCIALS ========== */
.header_socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  position: absolute;
  left: 0%;
  bottom: 7rem;
}

.header_socials::after {
  content: "";
  width: 1px;
  height: 2rem;
  background: var(--color-primary);
}

/* ========== ME ========== */
.me {
  background: linear-gradient(var(--color-primary), transparent);
  width: 22rem;
  height: 30rem;
  position: absolute;
  left: calc(50%);
  transform: translateX(-50%);
  margin-top: 4rem;
  border-radius: 12em 12em 0 0;
  overflow: hidden;
  padding: 5rem 1.5rem 1.5rem 1.5rem;
}

.me img {
  transform: translateY(-80px);
}

/* ========== SCROLL DOWN ========== */
.scroll_down {
  position: absolute;
  right: -1.8rem;
  bottom: 9rem;
  transform: rotate(90deg);
  font-weight: 300;
  font-size: 1.2rem;
}

/* ========== Change Color Button ========== */

.header_container .color_selector {
  position: absolute;
  display: flex;
  gap: 0.5rem;
  right: 0rem;
  top: 1.2rem;
}

.change_color {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.change_color input {
  display: none;
}

.change_color button {
  color: var(--color-bg);
}

.change_color label {
  display: block; /* ブロックレベル要素化する */
  float: left; /* 要素の左寄せ・回り込を指定する */
  text-align: center; /* テキストのセンタリングを指定する */
  cursor: pointer; /* マウスカーソルの形（リンクカーソル）を指定する */
  border-radius: 5px; /* 角丸を指定する */
}

.darkblue {
  color: rgb(14, 168, 219);
  width: 1rem;
  height: 1rem;
  background-color: rgb(14, 168, 219);
}

.dark {
  color: yellow;
  width: 1rem;
  height: 1rem;
  background-color: yellow;
}

.dark:checked {
  --color-bg: #2c7873;
  --color-bg-variant: #04373b;
  --color-primary: #6fb98f;
  --color-primary-variant: #004455;
}

.green {
  color: rgb(43, 234, 43);
  width: 1rem;
  height: 1rem;
  background-color: rgb(43, 234, 43);
}

.cute {
  color: pink;
  width: 1rem;
  height: 1rem;
  background-color: pink;
}

.pastel {
  color: rgb(53, 252, 242);
  width: 1rem;
  height: 1rem;
  background-color: rgb(53, 252, 242);
}

.greece {
  color: white;
  width: 1rem;
  height: 1rem;
  background-color: white;
}

/* ========== MEDIA QUERIES (MEDIUM DEVICES) ========== */

@media screen and (max-width: 1024px) {
  header {
    height: 68vh;
  }

  .header_name {
    font-size: 5rem;
  }

  .header_container .color_selector {
    gap: 0.2rem;
  }
}

/* ========== MEDIA QUERIES (SMALL DEVICES) ========== */

@media screen and (max-width: 600px) {
  header {
    height: 100vh;
  }

  .header_socials,
  .scroll_down {
    display: none;
  }
}
