@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap");
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap'); */

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

:root {
  /* Dark Blue Theme */
  --color-bg: #1f3438dc;
  --color-bg-variant: #2c616cc3;
  --color-primary: #7ff2f8b9;
  --color-primary-variant: #39eff9b9;

  /* Green Theme */
  /* --color-bg: #2c7873;
  --color-bg-variant: #04373b;
  --color-primary: #6fb98f;
  --color-primary-variant: #004455; */

  /* Cute Theme */
  /* --color-bg: #98dbc6;
  --color-bg-variant: #f18d9ece;
  --color-primary: #e6d72a;
  --color-primary-variant: #5bc8ac; */

  /* Dark Theme */
  /* --color-bg: #011a27;
  --color-bg-variant: #e6cf5a;
  --color-primary: #e6a05a;
  --color-primary-variant: #063852; */

  /* Pastel Theme */
  /* --color-bg: #c1e1dc;
  --color-bg-variant: #ffccac;
  --color-primary: #ffeb94;
  --color-primary-variant: #fdd475; */

  /* Greece Theme */
  /* --color-bg: #2988bc;
  --color-bg-variant: #f1dfca;
  --color-primary: #e89f8b;
  --color-primary-variant: #2f496e; */

  --color-white: #fff;
  --color-light: rgba(255, 255, 255, 0.875);

  --transition: all 400ms ease;

  --container-width-lg: 75%;
  --container-width-md: 86%;
  --container-width-sm: 90%;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

body {
  font-family: "Kalam", cursive;
  /* font-family: 'Poppins', sans-serif; */
  background-color: var(--color-bg);
  color: var(--color-white);
  line-height: 1.7;
  background-image: url("./assets/bg-texture.png");
}

/* ========== GENERAL STYLES ========== */

.container {
  width: var(--container-width-lg);
  margin: 0 auto;
  position: relative;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 400;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 1.7rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.3rem;
}

small {
  font-size: 1.3rem;
}

section {
  margin-top: 5rem;
}

section > h2,
section > h4 {
  text-align: center;
  color: var(--color-light);
}

section > h2 {
  color: var(--color-primary);
  margin-bottom: 3rem;
}

.text-light {
  color: var(--color-light);
}

a {
  color: var(--color-primary);
  transition: var(--transition);
  font-size: 1.3rem;
}

a:hover {
  color: var(--color-white);
}

.btn {
  width: max-content;
  display: inline-block;
  color: var(--color-primary);
  padding: 1rem 1.2rem 0.75rem;
  border-radius: 0.4rem;
  cursor: pointer;
  border: 1px solid var(--color-primary);
  transition: var(--transition);
}

.btn:hover {
  background-color: var(--color-white);
  color: var(--color-bg);
  border-color: transparent;
}

.btn-primary {
  background-color: var(--color-primary);
  color: var(--color-bg-variant);
  border: none;
}

.btn-link {
  width: 100%;
  max-width: 12rem;
  height: 2rem;
  padding: 0.1rem;
  text-align: center;
  color: var(--color-bg-variant);
  /* border: 1px solid var(--color-bg); */
}

.cards {
  position: relative;
  overflow: hidden;
}

.hoverCard::before {
  position: absolute;
  top: 0;
  left: -100%;
  bottom: 0;
  margin: auto 0;
  width: 100px;
  height: 200%;
  content: "";
  background: linear-gradient(
    to right,
    #fff,
    #fff 10%,
    transparent 10%,
    transparent 20%,
    #fff 20%,
    #fff 90%,
    transparent 90%,
    transparent 94%,
    #fff 94%
  );
  opacity: 0.3;
  transform: translate(-50%) rotate(45deg);
  transition: left 0.4s ease-in, transform 0.4s ease-in;
}

/* hover */
.hoverCard:hover::before {
  left: 150%;
  border-radius: 1rem;
  transform: translate(50%) rotate(45deg);
  transition-timing-function: ease-out, ease-out;
}

.link {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

input::placeholder,
textarea::placeholder,
.btn {
  font-family: "Kalam", cursive;
  font-size: 1.3rem;
}

.go_home {
  display: none;
}

.returnButton {
  fill: var(--color-primary);
  position: absolute;
  top: 3rem;
  left: 3rem;
  width: 3rem;
  height: 3rem;
}

.returnButton:hover {
  transform: scale(1.2);
}

/* ========== MEDIA QUERIES (MEDIUM DEVICES) ========== */

@media screen and (max-width: 1024px) {
  .container {
    width: var(--container-width-md);
  }

  section {
    margin-top: 6rem;
  }
}

/* ========== MEDIA QUERIES (SMALL DEVICES) ========== */

@media screen and (max-width: 600px) {
  .go_home {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container {
    width: var(--container-width-sm);
  }

  section > h2 {
    margin-bottom: 2rem;
  }
}
